@{
    ViewBag.Title = "My Code in Action";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <ul>
            <li>@Html.ActionLink("Artificial Intelligence", "Index", "AI") - artifical intelligence exercises</li>
            @*<li>@Html.ActionLink("Befunge", "Befunge") - a development tool for an esoteric programming language</li>*@
            <li>@Html.ActionLink("Oregon Trail", "Oregon") - a port of the classic teletype version of the game "Oregon Trail"</li>
            @*<li>@Html.ActionLink("Psytzee", "Psytzee") - Psychic [Dice Poker] game</li>*@
            <li>@Html.ActionLink("RGB Clock", "RgbClock") - a clock that tells time using three colors</li>
            <li>@Html.ActionLink("Turing Machine", "Turing") - <i>classic</i> Turing Machine simulator</li>
        </ul>
    </div>
</div>


