<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - mlibby.com</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="I am Michael C. Libby and this is my web site. I am a software developer, web developer, and accessibility enthusiast. My friends call me &ldquo;Libby.&rdquo;">

    @Styles.Render("~/bundles/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/libs")
    @RenderSection("Scripts", false)

    <link href="~/css/fonts.css" rel="stylesheet">
    <link rel="canonical" href="http://mlibby.com/">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">mlibby.com</a>
            <button type="button" class="navbar-toggler btn btn-outline-dark" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewBag.ActiveTab == "About" ? "active" : "")"><a class="nav-link" href="/Home/About/">About</a></li>
                    <li class="nav-item @(ViewBag.ActiveTab == "Code" ? "active" : "")"><a class="nav-link" href="/Code/">Code</a></li>
                    <li class="nav-item @(ViewBag.ActiveTab == "AI" ? "active" : "")"><a class="nav-link" href="/AI/">AI</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </main>
</body>

</html>


